h1 {
  color: rgb(255, 60, 0);
}
p {
  color: rgb(28, 167, 23);
}
/* color of odd rows */
#AnimeTable {
    color: rgb(203, 212, 221);
}

body {

    color: white;
    background-color: black;
}

table  {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    color: rgb(111, 204, 99);
  }
  
  th, td {
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(42, 85, 165);
    color: wheat;
  }
