header ul {
  list-style-type: none;
  margin: 0;
  padding: 2 2 2 2 ;

  overflow: hidden;
  background-color: #e4edfc;
}
header li {
    float: left;
}
 header li a {
  display: flex;
  width: max-content;
  color: #000;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
 header li a:hover {
  background-color: rgb(22, 72, 163);
  color: white;
}
/* 77777777777777777777777777777777777 */
/* color of odd rows */
#AnimeTable {
    color: rgb(203, 212, 221);
}
body {
    color: white;
    background-color: black;
}

table  {
    border-spacing: 0;
    width: 100%;
    border: 3px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(42, 85, 165);
    color: rgb(255, 250, 250);
  }
#TableContainer {
  margin-top: 50;
}